<section class="main-section">
  <div class="heading">
    <div class="name">
      <h1 class="full-name">Hi, I'm Tristan Davis</h1>
      <ul class="social-links">
        <li>
          <a
            href="https://github.com/TristanVII"
            aria-label="GitHub"
            target="_blank"
          >
            <i-feather class="icon" name="Github"></i-feather>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/tristandavis001/"
            target="_blank"
            aria-label="Linkedin"
          >
            <i-feather class="icon" name="LinkedIn"></i-feather>
          </a>
        </li>
      </ul>
    </div>
    <h2 class="subhead">BCIT CIT Co-op Student</h2>
  </div>
  <p class="intro">
    Aspiring Software Developer, living in Vancouver. I have a passion to
    continuously learn and innovate. I strive to achieve success and become a
    better version of myself everyday.
  </p>
  <div class="btn-container">
    <a class="btn" href="/assets/resume.pdf">Resume</a>
    <a class="btn" href="https://github.com/TristanVII/Resume.git"
      >This Angular Project</a
    >
  </div>
</section>
